#grid ol {
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-top: 1px solid blue;
    width: 100px;
    margin: 10px;
    padding: 20px;
  }

 h1 {
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 20px;
  }

  body {
    margin: 0px;
  }

  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }
h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}